@using RazorLight
@inherits TemplatePage<PokeCLI.Generator.Templates.Pokemon>
@model PokeCLI.Generator.Templates.Pokemon

<!DOCTYPE html>

<html lang="en">
<head>
    <title>@Model.Specie</title>
</head>
<body>
<div>

</div>
</body>
</html>
